<form [formGroup]="passwordForm">

    <mat-form-field *ngIf="isUpdateMode" >
        <input type="password" matInput placeholder="password" formControlName="currentPassword" required>
      </mat-form-field>

    <mat-form-field >
      <input type="password" matInput placeholder="password" formControlName="password" required>
     
    </mat-form-field>
    <br/>
    <mat-form-field >
      <input type="password" matInput placeholder="confirm password" formControlName="confirmPassword" required>
    </mat-form-field>
</form>
