<p>
  Please log in
</p>

<div *ngIf="isLoading else loginTemplate">
  <app-spinner></app-spinner>
</div>

<ng-template #loginTemplate>
<form [formGroup]="loginForm" (ngSubmit)="login()">
  <mat-form-field >
    <input matInput placeholder="Username" formControlName="username" required>
  </mat-form-field>
<br/>
  <mat-form-field >
    <input type="password" matInput placeholder="password" formControlName="password" required>
  </mat-form-field>
  <br/>
<button mat-flat-button color="primary">login</button>
<button type="button" mat-flat-button color="warn" (click)="closeDialog()" >cancel</button>
<button type="button" mat-flat-button color="warn" (click)="updateRedux()" >update redux</button>

</form>


<div>
  <p class="error">{{errorMessage}}</p>
</div>
</ng-template>


